# Find them in chrome devtools -> application -> cookies -> leetcode.com
# CSRF token is the value of csrftoken cookie
# Session ID is the value of LEETCODE_SESSION cookie
export LEETCODE_CSRF_TOKEN="EIAO3wnm8DtxEPIIFynMUPtSbxZIn8amVTJIKEKJsUYnjkzj2LkfQ5kOibpzWEg3"
export LEETCODE_SESSION_ID="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfYXV0aF91c2VyX2lkIjoiNzQyNjMxMyIsIl9hdXRoX3VzZXJfYmFja2VuZCI6ImRqYW5nby5jb250cmliLmF1dGguYmFja2VuZHMuTW9kZWxCYWNrZW5kIiwiX2F1dGhfdXNlcl9oYXNoIjoiYzU1ZDM1ZjkxMGVmYjc4YzFhNjdlZDNmODZmZWRkMDk4NmI5ZmUzZGI0ZTgxZTZkM2NmMDc1ZmRhMjQ0MWY5ZCIsImlkIjo3NDI2MzEzLCJlbWFpbCI6Im5naWdpbGV2aXNAZ21haWwuY29tIiwidXNlcm5hbWUiOiJMZXZpc25naWdpIiwidXNlcl9zbHVnIjoiTGV2aXNuZ2lnaSIsImF2YXRhciI6Imh0dHBzOi8vYXNzZXRzLmxlZXRjb2RlLmNvbS91c2Vycy9kZWZhdWx0X2F2YXRhci5qcGciLCJyZWZyZXNoZWRfYXQiOjE3MzM1NjYzMjAsImlwIjoiMTAyLjIxNS4xMy4xMTkiLCJpZGVudGl0eSI6ImExMWY1ZGE3MzM2Y2ZlMmUyZmQ5NTBhM2Q5NjhmZGIwIiwiZGV2aWNlX3dpdGhfaXAiOlsiZmJiNjJkOTRkMTYwYTllMTljOTA1NGY5ZDIyMWJjNmUiLCIxMDIuMjE1LjEzLjExOSJdLCJzZXNzaW9uX2lkIjoyODI1ODkwLCJfc2Vzc2lvbl9leHBpcnkiOjEyMDk2MDB9.8RG5bRUWI4nZk9Qs3TATn8FKO6o50Xq4SCjkcNpDmZI"
