# Find them in chrome devtools -> application -> cookies -> leetcode.com
# CSRF token is the value of csrftoken cookie
# Session ID is the value of LEETCODE_SESSION cookie
export LEETCODE_CSRF_TOKEN="pnl6JZNysvathWnK0nM6beClkaFpJ4qpT2Elax0XubVeMdNoOj4BjX6sHgM8GnKF"
export LEETCODE_SESSION_ID="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJfYXV0aF91c2VyX2lkIjoiMzUyNDAiLCJfYXV0aF91c2VyX2JhY2tlbmQiOiJhbGxhdXRoLmFjY291bnQuYXV0aF9iYWNrZW5kcy5BdXRoZW50aWNhdGlvbkJhY2tlbmQiLCJfYXV0aF91c2VyX2hhc2giOiI1YTBmMzVlYzU1NDgzODU4Y2ZhMzM3NWQzYjc3ODhiMDY5YTgwZmU4ZjYzNDJiMjI0Y2FmYTZiZmRmZGVjZGU3IiwiaWQiOjM1MjQwLCJlbWFpbCI6InJ1c3NlbGwubHJnQGdtYWlsLmNvbSIsInVzZXJuYW1lIjoidlJ1c3NlbGwiLCJ1c2VyX3NsdWciOiJ2UnVzc2VsbCIsImF2YXRhciI6Imh0dHBzOi8vYXNzZXRzLmxlZXRjb2RlLmNvbS91c2Vycy9kZWZhdWx0X2F2YXRhci5qcGciLCJyZWZyZXNoZWRfYXQiOjE3MzM0NjM3OTMsImlwIjoiMTIuMTI5LjE1OS4xOTgiLCJpZGVudGl0eSI6IjA4NDViMzA5YzdiOWI5NTdhZmQ5ZWNmNzc1YTRjMjFmIiwiZGV2aWNlX3dpdGhfaXAiOlsiNzJmZDk0NWFkNDk4YmE0YWVlYTczNWEwZTdhNGU2ZGQiLCIxMi4xMjkuMTU5LjE5OCJdLCJzZXNzaW9uX2lkIjoyNDU2OTgxLCJfc2Vzc2lvbl9leHBpcnkiOjEyMDk2MDB9.heEracV-mMscHfCkp21zELAWhBhjuseTw1alvLYo4DA"
